@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Lato&display=swap");

$radius: 5px;
$menubarHeight: 64px;
$primary: #3d5467;
$fancy-gradient: linear-gradient(
  45deg,
  #E67229,
  #d029e6,
  #294ce6
);
$fancy-animation: bg-animation 45s infinite alternate;

html,
body {
  font-family: "Lato", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f1edee;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.titlebar {
  & h1 {
    font-family: "Arimo", sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0.65rem;
    padding: 0;
  }
}

.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: calc(1rem + env(safe-area-inset-top))
}

.btn {
  background: $primary;
  border: none;
  margin: 1rem;
  padding: 1rem;
  border-radius: $radius;
  color: white;
	&:active {
		background: darken($primary, 10%);
	}
	@media (hover: hover) {
		&:hover {
			background: magenta;
		}
	}
}

fieldset {
  position: relative;
  margin: 1rem;
  background-color: #3d5467;
  border: none;
  border-radius: $radius;
  color: white;
  & legend {
    text-transform: uppercase;
    font-family: "Arimo", sans-serif;
    font-size: 10px;
    position: absolute;
    bottom: 100%;
    background-color: inherit;
    padding: 0.25rem 0.5rem;
    color: currentColor;
    border-radius: $radius $radius 0 0;
  }
}

.form-control {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  margin: 2rem 0rem 0rem 0rem;
  border-radius: 0 $radius $radius $radius;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
  & label {
    text-transform: uppercase;
    font-family: "Arimo", sans-serif;
    font-size: 10px;
    position: absolute;
    bottom: 100%;
    background-color: inherit;
    padding: 0.25rem 0.5rem;
    color: #3d5467;
    border-radius: $radius $radius 0 0;
  }
  & input,
  & select {
    border: none;
    padding: 0.25rem;
    margin: 0.25rem;
    outline: none;
  }
}

.unit-toggle {
  display: inline-flex;
  align-items: center;
  margin-top: .5rem;
  margin-left: auto;
  & label {
    font-size: 12px;
    color: white;
  }
  & input {
    margin-left: .5rem;
  }
}

.result-table {
  display: flex;
  flex-direction: column;
  background-color: #3d5467;
  margin: 0 1rem 0 1rem;
  margin-top: auto;
  overflow: hidden;
  padding: .25rem;

  border-radius: $radius;
  & table {
    width: 100%;
    border-collapse: collapse;
    & tr,
    & td {
      border: none;
    }
    & td {
      color: white;
      padding: 0.25rem;
    }
    .text-center {
      text-align: center;
    }
    .text-right {
      text-align: right;
    }
    & .header {
        font-family: "Arimo", sans-serif;
      font-weight: bold;
      color: white;
      padding: 0.25rem;
      font-size: 12px;
    }
  }
}

section.app-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: calc(#{$menubarHeight} + env(safe-area-inset-bottom));
  padding-bottom: 1rem;
}

nav.app-menu {
  height: $menubarHeight;
  background-color: $primary;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
	padding-bottom: env(safe-area-inset-bottom);
  & button.menu-button {
    flex-basis: 0;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    background: none;
    outline: none;
    border: none;
    border-bottom: 4px solid transparent;
    justify-content: center;
    align-items: center;
    color: white;
    & img.icon {
      color: white;
    }
    &.active {
			background-color: darken($primary, 10%);
      border-color: white;
    }
  }
}

.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.loading-spinner {
  position: relative;
  & .spinner {
    width: 128px;
    height: 128px;
    & span {
      display: block;
      box-sizing: border-box;
      padding: .25rem;
      width: 100%;
      height: 100%;
      border: .5rem solid $primary;
      border-bottom-color: transparent;
      border-radius: 256px;
      animation: loading-spinner 2500ms linear infinite;
    }
  }
  & span.spinner-text {
    position: absolute;
    top: calc(100% + 1rem);
    text-transform: uppercase;
    color: $primary;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

section.about-page {
  height: 100%;
  color: #333;
  padding: 1rem;
  h1 {
    font-family: "Arimo", sans-serif;
  }
}

fieldset.language-switcher {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & button {
    flex: 1;
    margin: .5rem;
    background: #eee;
    color: $primary;
    border: none;
    outline: none;
    min-height: 64px;
    text-transform: uppercase;
    &.active {
      outline: 4px solid $primary;
      outline-offset: -8px;
    }
  }
}

a.spiffy-link {
  background-image: $fancy-gradient;
  background-size: 500%;
  background-clip: text;
  font-weight: bold;
  animation: $fancy-animation;
  color: white;
  color: transparent;
}

img.teeko-image { width: 100%; }

@keyframes bg-animation {
  0% { background-position: left; }
  100% { background-position: right; }
}

.toggle-switch {
  $margin: 4px;
  $width: 38 + $margin;
  $height: $width / 2;
  $inner: $height - 8px;
  position: relative;
  display: inline-block;
  width: $width;
  height: $height;
  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  & .toggle-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    border-radius: $height;
    &::before {
      position: absolute;
      content: '';
      width: $inner;
      height: $inner;
      top: $margin;
      left: $margin;
      background-color: $primary;
      border-radius: $inner;
      transition: all 150ms ease-out;
    }
  }
  & input:checked + .toggle-switch-slider {
    &::before {
      transform: translateX(150%);
    }
  }
}